.done {

	text-decoration: line-through;
	opacity: 0.5;

}

.selected {

	color: green;
	
}
/* 
  #header{
           background: url("header.jpeg")
           background: url("header.jpeg") center center / cover no-repeat;
          }  */